In [1]:
from sklearn import preprocessing, pipeline, feature_extraction, decomposition, model_selection, metrics, cross_validation, svm
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier, BaggingClassifier
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.preprocessing import normalize, Imputer
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import SGDClassifier
from sklearn.naive_bayes import MultinomialNB

import sklearn
import pandas as pd
import numpy as np
import xgboost as xgb

import datetime

C:\Users\seven\Anaconda3\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [53]:
sub1=pd.read_csv('submission_xgb_09_23_22_23_26.csv')
pid=sub2["ID"].values

In [62]:
sub1[sub1["class6"]>0.9]

,class1,class2,class3,class4,class5,class6,class7,class8,class9,ID
794,0.012243,0.001039,0.001261,0.005073,0.019570,1.0,0.000631,0.000118,0.000104,794
926,0.007032,0.000653,0.000767,0.003364,0.009346,1.0,0.000384,0.000082,0.000076,926
1312,0.003711,0.008410,0.000471,0.001368,0.003695,1.0,0.038833,0.000185,0.000166,1312
1314,0.004975,0.000850,0.001414,0.001804,0.008224,1.0,0.000306,0.000065,0.000057,1314
2667,0.010025,0.000723,0.000237,0.011155,0.002910,1.0,0.000573,0.000053,0.000060,2667
3538,0.010729,0.000759,0.001356,0.006038,0.010894,1.0,0.000454,0.000095,0.000098,3538
3579,0.005934,0.000572,0.002337,0.002431,0.011483,1.0,0.000299,0.000072,0.000062,3579
4077,0.022871,0.003518,0.001162,0.013523,0.051748,1.0,0.001223,0.000281,0.000546,4077
5094,0.003608,0.002872,0.000550,0.001336,0.001675,1.0,0.015040,0.000168,0.000161,5094
5147,0.003709,0.005171,0.000601,0.001527,0.002757,1.0,0.015127,0.000173,0.000160,5147

In [54]:
for i in range(9):
    ind=sub1[sub1["class"+str(i+1)]>0.9].index
    sub1["class"+str(i+1)][ind]=1

C:\Users\seven\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [55]:
submission = pd.DataFrame(sub1, columns=['class'+str(c+1) for c in range(9)])
submission['ID'] = pid
#submission.columns
submission.to_csv('submission_xgb_7.csv', index=False)